body{
    padding: 0px;
    margin: 0px;
}
.top-navbar .row{
    background-color: rgb(238, 228, 181);
}
.top-navbar .col{
    display: flex;
    align-items: center;
    height: 24px;
}
.top-navbar .col h5{
    margin-top: 6px;
    font-size: 12px;
    margin-left:250px;

}
.top-navbar .col a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
    color: orange;
    font-weight: 700;
}
.top-navbar .col span{
    padding:2px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 4px;
    color: white;
    background-color: orange;
}
.bg-body-tertiary {
    --bs-bg-opacity: none;
  
}
.navbar-nav{
    margin-left: 120px;
}
.navbar img{
    height: 80px;
    width: 80px;
    margin-left: 250px;
}
.navbar h4{
    font-size: 15px;
    border-radius: 50%;
    padding: 20px;
    border: 2px dotted red;
    color:purple;
}
.navbar-nav span{
    margin-top: 14px;
    font-size: 20px;
    
}
.navbar-nav a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 14px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: orange;
    text-decoration-line: underline;
}
.navbar-nav a.navlink{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-nav a.right-icons{
    text-decoration: none;
    color: black;
    margin-left: 200px;
}
.navbar-nav a.right-icons span{
    margin-left: 12px;
}
.carousel-item img{
    width: 50%;
    height: 450px;
}
.image-sec .row img{
    height: 500px;
    width:110%;
    border-radius: 20px;
}
.image-sec h1{
    font-family: 'Grandstander', cursive;
    color: orange;
}
.image-sec h3{
    font-size: 12px;
    font-weight: bold;
    
}
.image-sec h6{
    margin-bottom: 20px;
    font-weight: 100;
}

.image-sec a{
    font-size: 10px;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: orange;
    text-decoration: none;
    color: white;
    font-weight: 900;
}
.image-sec .col-4{
    margin-top: 50px;
    background-color: #fcf7df;
    height: 370px;
    border-radius: 20px;
    width: 50%;
    padding: 50px;
}
.image-sec .col-4 img{
    height: 220px;

}
.items .col{
    background-color: rgba(61, 121, 225, 0.2);
    margin: 12px;
    border: 1.7px dotted blue;
}
.items .col img{
    margin-left: 50px;
    width: 50%;
    height: 180px;
}
.items .col h3{
    color: orange;
    font-weight: bold;
    font-size: 18px;
    margin-left: 60px;
    margin-top: 15px;
}
.study-img .row{
    border: 2px dotted orange;
}
.study-img .col img.first{
    width: 100%;
    height: 450px;
}
.study-img .col img{
    margin-right: 300px;
    
    display: inline;
}
.study-img .col h2 {
    font-family: 'Grandstander', cursive;
    color: pink;
    font-weight: 800;

}

.study-img .col h1 {
    font-family: 'Grandstander', cursive;
    color:brown;
    font-weight: bold;

}


.study-img .col h6 {
    
    font-weight: 300;
margin-bottom: 30px;
}
.study-img .col a{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: orange;
    text-decoration: none;
    color: white;
}
.study-img .col img.bag{
    width: 100px;
    height: 150px;
}.study-img{
    position: relative;
}
.study-img .col img.add{
    position: absolute;
    top: 10px;
    width: 150px;
    height: 250px;
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(128, 128, 128, .2);
    right: 0;
}
.study-img .col h4{
    position: absolute;
    top: 215px;
    right:330px;
    font-weight: bold;
    font-size: 12px;
}
.study-img .col span{
    position: absolute;
    top: 200px;
    right: 350px;
    margin:30px;

    font-size: 12px;
}

.study-img .col span.two{
    position: absolute;
    top: 200px;
    right: 310px;
    margin:30px;

    font-size: 12px;
}

.study-img .col span.three{
    position: absolute;
    top: 200px;
    right: 320px;
    margin:30px;

    font-size: 12px;
}

.study-img .col span.four{
    position: absolute;
    top: 200px;
    right: 330px;
    margin:30px;

    font-size: 12px;
}


.study-img .col span.five{
    position: absolute;
    top: 200px;
    right: 340px;
    margin:30px;

    font-size: 12px;
}
.study-img .col h3{
    position: absolute;
    top: 240px;
    right: 340px;
    color: orange;
    font-size: 12px;
    font-weight: 900;

}
.school-collection{
    background-color: rgba(255,165,0,.1);
}
.school-collection .heading-sec .col-12 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Grandstander', cursive;

}
.school-collection .heading-sec .col-12 span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: blue;
  margin-left: 300px;

}

.school-collection .heading-sec .col-12 span.start{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: red;
  margin-right: 600px;

}
.collection-images .col{
  background-color: white;
  margin: 8px;
}

.collection-images .col img{
  width: 200px;
  height: 300px;
}
.price .col span{
  font-size: 20px;
  color: blue;
}
.price .col h6 {
  color: orange;
}
.view-btn .col-2 a{
    
    display: flex;
padding: 4px 20px;
background-color: orange;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 4px;
    font-size: 5px;
    border-radius: 20px;
    margin-bottom: 50px;

}
.kids-img .col-6 img{
    width: 100%;
    height: 500px;
    border: 2px dotted orange;
    margin-bottom: 30px;
}
.kids-img .col-6{
    position: relative;
}
.kids-img .col-6 h3{
    position: absolute;
    top:200px;
    padding: 15px 25px;
    border-radius: 20px;
    border: 2px dotted rgb(160, 194, 241);
    background-color: white;
    color:rgb(69, 100, 202);
    right: 250px;
    
    font-family: 'Grandstander', cursive;
}
.kids-img .col-6 img.heart{
    position: absolute;
    top: 180px;
    width: 40px;
    height: 40px;
    border: none;
    right: 230px;
}

.inner-sec{
    position: absolute;
    top: 120px;
    right: 170px;
    padding: 50px;
    border-radius:10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}
.kids-img .col-6 h1{
    position: unset;
    font-family: 'Grandstander', cursive;
color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size:40px;
}
.kids-img .col-6 h4{
    margin-left: 100px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color:rgb(69, 100, 202);

}

.kids-img .col-6 h6{
    margin-bottom: 20px;
}

.kids-img .col-6 a{
    margin-left: 120px;
    text-decoration: none;
    color: white;
    background-color:rgb(69, 100, 202);
    padding: 12px ;
    border-radius: 30px;
}
.news-sec .col-12 h1{
    font-family: 'Grandstander', cursive;

    display: flex;
   justify-content: center;
}
.news-sec .col-12 span{
    display: flex ;
    color: purple;
    justify-content: center;
    font-size: 50px;
}
.news-sec .col img{
    height: 300px;
    width:70%;
    border-radius: 10px;
}
.news-sec .col h6{
    display: inline-flex;
    
    font-size: 12px;
}.news-sec .col h2{
    display: inline;
    font-size: 20px;
}
.news-sec .col a {
    text-decoration: none;
    display: inline-flex;
}
.news-sec .col a span{
    font-size: 18px;
    display: inline-flex;
    text-decoration: none;
    color:rgb(69, 100, 202) ;
}
.news-sec .col h3{
    font-family: 'Grandstander', cursive;
    color: rgb(61, 12, 12);
    font-weight: bold;
}
.image-slider .row{
    background-color:rgba(15, 10, 222,.1);
    padding: 70px;
    border: 1.6px dotted blue;
}
.image-slider .col img{
    width: 130px;
    height: 130px;
    border-radius: 20px;
}
.image-slider .col h6{
    font-family: 'Grandstander', cursive;
    
    margin: 0 2px;
    font-size: 12px;
}
.image-slider .col a{
    margin: 0px 4px;
    
}

.image-slider .col a span{
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    color:(69, 100, 202) ;
}
.image-slider .col{
    position: relative;
    display: flex;
    align-items:center;
    
}
.image-slider .col h5{
    font-family: 'Grandstander', cursive;

    position: absolute;
    top: 80px;
    left: 200px;
}
.image-slider .col h2{
    font-size: 120px;
    color: white;
    border-radius: 15px;
}
.footer .second-last-footer{
    background-color: rgba(255,165,0,.1);
}
.second-last-footer h3{
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}
.second-last-footer a{
    margin-bottom: 8px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.second-last-footer img{
    width: 70px;
    height:70px;
}
.second-last-footer a.sub{
    display: inline;
    padding: 8px 12px;
    background-color: orange;
    color: white;
    border-radius: 12px;
}
.second-last-footer{
    position: relative;
}
.second-last-footer h3.contact{
    position: absolute;
    top: 150px;
    left: 850px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}
.second-last-footer ul{
    
    position: absolute;
    top: 170px;
    left: 820px;
    list-style-type: none;
}
.second-last-footer span{
    display: block;
    position: absolute;
    left: 2px;
    color: blue;
    font-size: 20px;
}

.second-last-footer h3.second{
    position: absolute;
    top: 150px;
    left:700px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}

.second-last-footer ul.second-ul{
    
    position: absolute;
    top: 170px;
    left: 690px;
    list-style-type: none;
}
.last-footer  {
    background-color:rgba(15, 10, 222,.1);
}
.last-footer .col ul{
    list-style-type: none;    
    display: flex;
    align-items: center;
}
.last-footer .col ul li{
    margin:20px 10px;
    
}
.last-footer .col ul li a{
    text-decoration: none;
    font-size: 20px;
}
.last-footer .col img{
    width: 40px;
    margin: 14px 15px;
    height: 40px;
}
.item{
    width: 100%;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots {
    left: 50%;
    top: 83%;
    position: absolute;
}
.owl-theme .owl-dots .owl-dot span {
    border: 1px solid rgb(69, 100, 202);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background:rgb(69, 100, 202);
}
@media screen and (max-width:575.98px) {
    
.image-slider .col img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
    
.last-footer .col ul{
    list-style-type: none;    
    display: block;
    align-items: center;
}
    .second-last-footer a.sub {
        display: none;
        padding: 8px 12px;
        background-color: orange;
        color: white;
        border-radius: 12px;
    }
.news-sec .col h6{
    display: inline-flex;
    
    font-size: 12px;
}.news-sec .col h2{
    display: inline;
    font-size: 20px;
}
.news-sec .col a {
    text-decoration: none;
    display: inline-flex;
}
.news-sec .col a span{
    font-size: 18px;
    display: inline-flex;
    text-decoration: none;
    color:rgb(69, 100, 202) ;
}
.view-btn .col-2 a{
    
    display: flex;
padding: 4px 20px;
font-size: 6px;
background-color: orange;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px;

}
.school-collection .heading-sec .col-12 span{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: blue;
  margin-left: 300px;

}

.school-collection .heading-sec .col-12 span.start{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: red;
  margin-right: 600px;

}
    
    .image-sec .col-4{
        overflow: hidden;
        margin-top: 50px;
        background-color: #fcf7df;
        height: 370px;
        border-radius: 20px;
        width: 100%;
        padding: 50px;
    }
    
.image-sec .row img{
    height: 300px;
    width:80%;
    border-radius: 20px;
}
.navbar-nav{
    margin-left: 0px;
}
}
@media screen and(max-width:1199.98px) {
    
.last-footer  {
    background-color:rgba(15, 10, 222,.1);
    overflow: hidden;
}
.last-footer .col ul{
    list-style-type: none;    
    display: flex;
    align-items: center;
}
.last-footer .col ul li{
    margin:20px 10px;
    
}
.last-footer .col ul li a{
    text-decoration: none;
    font-size: 10px;
}
.last-footer .col img{
    width: 15px;
    margin: 10px 10px;
    height: 15px;
}
    
}

@media (max-width:1460px) {
    
.study-img .col h4{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 12px;
}
.study-img .col span{
    position: absolute;
   bottom: 0;
   left: 0;
    margin:30px;

    font-size: 0px;
}

.study-img .col span.two{
    position: absolute;
   bottom: 0;
   left: 0;
    margin:30px;

    font-size: 0px;
}

.study-img .col span.three{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:30px;

    font-size: 0px;
}

.study-img .col span.four{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:30px;

    font-size: 0px;
}


.study-img .col span.five{
    position: absolute;
   bottom: 0;
   left: 0;
    margin:30px;

    font-size: 0px;
}
.study-img .col h3{
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: orange;
    font-size: 0px;
    font-weight: 900;

}
    .study-img{
        position: unset;
        overflow: hidden;
    }
    .study-img .col img.add{
        position: unset;
        top: 10px;
        width: 150px;
        height: 250px;
        border-radius: 30px;
        padding: 30px;
        background-color: rgba(128, 128, 128, .2);
        right: 0;
    }
    .study-img .col h4{
        position: unset;
        top: 215px;
        right:330px;
        font-weight: bold;
        font-size: 12px;
    }
    
.top-navbar .col{
    display: flex;
    align-items: center;
    height: 24px;
}
    
.top-navbar .col h5{
    margin-top: 6px;
    font-size: 8px;
    margin-left:0px;

}
.top-navbar .col a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 8px;
    color: orange;
    font-weight: 700;
}

.navbar img{
    height: 80px;
    width: 80px;
    margin-left: 0px;
}
.navbar h4{
    font-size: 10px;
    border-radius: 50%;
    padding: 15px;
    border: 2px dotted red;
    color:purple;
}

.navbar-nav a.right-icons{
    text-decoration: none;
    color: black;
    margin-left: 0px;
}

.image-sec h1{
    font-family: 'Grandstander', cursive;
    color: orange;
    font-size: 16px;
}
.image-sec h3{
    font-size: 8px;
    font-weight: bold;
    
}
.image-sec h6{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 100;
}
.image-sec a{
    font-size: 6px;
    padding: 8px 18px;
    border-radius: 20px,
    background-color: orange;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.inner-sec{
    position: absolute;
    top: 120px;
    right: 50px;
    padding: 10px;
    border-radius:10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}
.kids-img .col-6 h1{
    font-family: 'Grandstander', cursive;
color: rgb(61, 12, 12);
   
    font-size:20px;
}
.kids-img .col-6 h4{
    margin-left: 0px;
    font-size: 10px;
    padding: 8px;
    
    font-family: 'Grandstander', cursive;
    color:rgb(69, 100, 202);

}

.kids-img .col-6 h6{
    margin-bottom: 20px;
    font-size: 10px;
}

.kids-img .col-6 a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color:rgb(69, 100, 202);
    padding: 8px ;
    font-size: 10px;
    border-radius: 10px;
}

.image-slider .col h6{
    font-family: 'Grandstander', cursive;

    display: inline;
    margin: 0 2px;
    font-size: 6px;
}
.image-slider .col a{
    display: inline;
    
}

.image-slider .col a span{
    display: inline-flex;
    text-decoration: none;
    font-size: 10px;
    color:(69, 100, 202) ;
}
.image-slider .col{
    position: relative;
    overflow: hidden;
}
.image-slider .col h5{
    font-family: 'Grandstander', cursive;
font-size: 10px;
    position: absolute;
    top: 80px;
    left: 180px;
}

.second-last-footer{
    position: relative;
    overflow: hidden;
}

.second-last-footer h3.contact{
    position: absolute;
    top: 150px;
    display: none;
    left: 500px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}
.second-last-footer ul{
    
    position: unset;
    display: none;
    top: 170px;
    left: 0px;
    margin:20px 0;
    list-style-type: none;
}
.second-last-footer span{
    display: inline;
    position: unset;
    left: 2px;
    color: blue;
    font-size: 20px;
}

.second-last-footer h3.second{
    position: unset;
    top: 150px;
    left:500px;
    display: none;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}

.second-last-footer ul.second-ul{
    
    position: unset;
    top: 170px;
    left: 390px;
    list-style-type: none;
}
}
